#album-description {}
#album-images {}
#album-contents {
	width: 100%;
}

.album-image {
	max-width: 20%;
}

.image {
	max-width: 90%;
}

.image-container {
	width: 100%;
}

a.nav {
	text-decoration: none;
}

.image-page {
	text-align: center;
}
